<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @internet_type.name %>
</p>

<%= link_to 'Edit', edit_internet_type_path(@internet_type) %> |
<%= link_to 'Back', internet_types_path %>
